html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: whitesmoke;
}

#quizName, #content {
    margin: 20px auto;
    width: 1000px;
    background: white;
    font-family: 'Roboto', sans-serif;
}
#quizName {
    height: 100px;
    text-align: center;
}
#quizName span {
    font-size: 20px;
}
#content {
    min-height: 600px;
}

.questionDivStyle {
    width: 800px;
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1.5px solid black;
}

.questionDivImgStyle {
    display: block;
    margin: 0 auto;
    width: 500px;
}
